.about {
  position: relative;

  color: #ffffff;

  border-radius: 0 0 30px 30px;
  background-color: $blue;
  z-index: 1;
}

@media (min-width: $tablet-width) {
  .about {
    border-radius: 0 0 55px 55px;
  }
}

.about__wrapper {
  @include mobile-container;
  position: relative;
  padding: 300px 60px 80px 50px;

  background-image: url("../img/about-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: bottom;

  &::after {
    position: absolute;
    left: 0;
    top: 282px;
    content: "";

    width: 113px;
    height: 132px;

    background-color: #141b3b;
    border-radius: 20px;

    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .about__wrapper {
    @include tablet-container;
    padding: 280px 391px 88px 75px;

    background-image: url("../img/about-tablet@1x.png");
    background-position: top 284px right 0;

    &::after {
      left: 40px;
      top: 236px;
      width: 688px;
      height: 213px;
    }
  }
}

.about__title {
  margin: 0;

  font-size: 24px;
  line-height: 24px;
  color: $orange;
}

@media (min-width: $tablet-width) {
  .about__title {
    font-size: 45px;
    line-height: 45px;
  }
}

.about__info {
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .about__info {
    font-size: 21px;
    line-height: 25px;
  }
}

.about__link {
  display: none;
}

@media (min-width: $tablet-width) {
  .about__link {
    display: block;
    width: 274px;
    margin-top: 53px;
  }
}
