.about {
  position: relative;
  background-color: $blue;

  color: #ffffff;

  border-radius: 0 0 30px 30px;

  z-index: 6;
}

.about__wrapper {
  position: relative;
  width: 320px;
  margin: 0 auto;
  padding: 300px 60px 80px 50px;

  background-image: url(../../img/about-mobile@1x.png);
  background-repeat: no-repeat;
  background-position: bottom;
}

.about__wrapper::after {
  position: absolute;
  left: 0;
  bottom: 220px;
  content: "";

  width: 113px;
  height: 132px;

  background-color: #141b3b;

  z-index: -1;
}

.about__title {
  margin: 0;

  font-size: 24px;
  line-height: 24px;
  color: $orange;
}

.about__info {
  font-weight: 700;
}
