.button {
  display: inline-block;
  vertical-align: top;
  padding: 5px 20px 5px 15px;
  width: 100%;

  font-size: 17px;
  line-height: 30px;
  font-weight: 700;
  color: $dark-blue;
  text-transform: uppercase;
  text-align: center;

  background-color: $yellow;
  border: none;
  border-radius: 30px;

  cursor: pointer;

  &:hover,
  &:focus {
    background-color: $yellow-orange;
  }

  &:active {
    color: rgba(22, 28, 53, 0.3);
  }

  &--square {
    position: relative;
    padding: 22px 12.59% 22px 8.89%;

    font-size: 18px;
    line-height: 18px;
    text-align: left;
    color: $light-blue;
    text-transform: unset;

    border-radius: 10px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 8.89%;
      width: 10px;
      height: 14px;

      background-image: url("../img/triangle-arrow-right.svg");
    }

    &:active::after {
      opacity: 0.3;
    }
  }

  &--bordered {
    padding-top: 22px - 3px;
    padding-bottom: 22px - 3px;

    border: 3px solid $blue;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 8.89%;
      width: 0;
      height: 0;

      background-image: none;
      border-style: solid;
      border-width: 7px 0 7px 10px;
      border-color: transparent transparent transparent $blue;
    }

    &:hover,
    &:focus {
      background-color: $blue;

      color: #ffffff;
    }

    &:hover::after {
      border-left-color: #ffffff;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
    }
  }

  &--collapse {
    position: relative;
    padding-left: 20px + 24px;
    background-color: #d6daed;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 31.48%;
      width: 12px;
      height: 12px;

      background-image: url("../img/menu-close.svg");
    }

    &:hover,
    &:focus {
      background-color: #c8cee8;
    }

    &:active::after {
      opacity: 0.3;
    }
  }

  &--more {
    position: relative;
    background-color: transparent;
    padding-left: 15px + 33px;

    color: $light-blue;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 22.22%;
      width: 18px;
      height: 18px;

      background-image: url("../img/show-more-plus.svg");
    }

    &:hover,
    &:focus {
      background-color: transparent;
      color: rgba(29, 46, 91, 0.6);
    }

    &:hover::after,
    &:focus::after {
      opacity: 0.6;
    }

    &:active {
      color: rgba(29, 46, 91, 0.3);
    }

    &:active::after {
      opacity: 0.3;
    }
  }

  &--white {
    background-color: #ffffff;

    &:hover,
    &:focus {
      background-color: #ffffff;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.08);
    }

    &:active {
      color: rgba(22, 28, 53, 0.3);

      background-color: #f3c72b;
    }
  }

  &--prev-step {
    background-color: transparent;

    &:hover,
    &:focus {
      opacity: 0.7;

      background-color: transparent;
    }

    &:active {
      opacity: 0.3;
    }
  }
}

@media (min-width: $tablet-width) {
  .button {
    padding: 10px 30px 10px 29px;
    font-size: 20px;

    &--square {
      padding: 27px 46px 30px 34px;

      font-size: 24px;
      line-height: 24px;

      border-radius: 20px;

      &::after {
        right: 36px;
      }
    }

    &--bordered {
      padding-top: 27px - 3px;
      padding-bottom: 30px - 3px;

      &::after {
        right: 36px;
      }
    }

    &--next-step {
      position: relative;
      padding: 24px 8.65% 27px 6.39%;
      width: 53.57%;

      text-align: left;
      color: $light-blue;
      text-transform: unset;
      font-size: 24px;
      line-height: 24px;

      border-radius: 20px;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 12.63%;
        width: 0;
        height: 0;

        background-image: none;
        border-style: solid;
        border-width: 7px 0 7px 10px;
        border-color: transparent transparent transparent $blue;
      }

      &:active::after {
        opacity: 0.3;
      }
    }

    &--prev-step {
      position: relative;
      width: 190px;
      padding: 24px 0 27px 34px;

      text-align: left;
      color: $light-blue;
      text-transform: unset;
      font-size: 24px;
      line-height: 24px;

      &::after {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        width: 0;
        height: 0;

        background-image: none;
        border-style: solid;
        border-width: 7px 10px 7px 0;
        border-color: transparent $blue transparent transparent;
      }

      &:hover::after,
      &:focus::after {
        opacity: 0.7;
      }

      &:active::after {
        opacity: 0.3;
      }
    }

    &--collapse {
      padding: 35px;
      padding-left: 11.97%;

      border-radius: 20px;

      &::after {
        width: 19px;
        height: 19px;
        left: 39.32%;
      }
    }

    &--more {
      padding-left: 11.77%;

      &::after {
        left: 35.9%;
        width: 27px;
        height: 27px;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .button {
    &--square {
      width: 274px;
    }

    &--bordered {
      width: 324px;
    }

    &--next-step {
      width: 285px;
      padding-right: 46px;
      padding-left: 34px;

      &::after {
        right: 36px;
      }
    }

    &--more {
      padding-left: 29px + 52px;
      padding-right: 100px;

      &::after {
        left: 345px;
      }
    }

    &--collapse {
      padding-left: 35px + 39px;

      &::after {
        left: 594px;
      }
    }
  }
}
