.calendar__select {
  display: flex;
  justify-content: space-between;
  padding: 11px 0;

  border-top: 1px solid #d6d9e6;
  border-bottom: 1px solid #d6d9e6;
}

@media (min-width: $tablet-width) {
  .calendar__select {
    padding: 28px 3% 26px 3%;
  }
}

@media (min-width: $desktop-width) {
  .calendar__select {
    padding: 27px 0 24px 0;
  }
}

.calendar__month-year {
  display: block;

  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .calendar__month-year {
    font-size: 36px;
    line-height: 28px;
  }
}

.calendar__btn {
  width: 9px;
  height: 17px;
  padding: 0;

  border: none;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;

  opacity: 0.3;

  cursor: pointer;

  &--prev {
    background-image: url("../img/month-arrow-left.svg");
  }

  &--next {
    background-image: url("../img/month-arrow-right.svg");
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.1;
  }
}

@media (min-width: $tablet-width) {
  .calendar__btn {
    width: 19px;
    height: 32px;
  }
}

@media (min-width: $desktop-width) {
  .calendar__btn {
    width: 18px;
    height: 34px;
  }
}

.calendar__table {
  margin-top: 15px;
}

@media (min-width: $tablet-width) {
  .calendar__table {
    margin-top: 25px;
  }
}

@media (min-width: $desktop-width) {
  .calendar__table {
    margin-top: 3px;
  }
}
