.calendar-table {
  width: 100%;

  border-collapse: collapse;
}

@media (min-width: $tablet-width) {
  .calendar-table {
    width: 99.8%;
  }
}

.calendar-table__day-of-the-week {
  padding: 0;
  padding-left: 2px;
  height: 32px;

  text-align: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: $grey-text;

  &--weekend {
    color: #ff5c23;
  }
}

@media (min-width: $tablet-width) {
  .calendar-table__day-of-the-week {
    padding-left: 3px;
    height: 40px;

    font-size: 18px;
    letter-spacing: 1.8px;
  }
}

@media (min-width: $desktop-width) {
  .calendar-table__day-of-the-week {
    padding-left: 17px;
    padding-bottom: 10px;
    height: 50px;

    text-align: left;
  }
}

@media (max-width: $tablet-width - 1px) {
  .calendar-table__day-hidden-letter {
    display: none;
  }
}

.calendar-table__cell {
  padding: 0;
  height: 31px;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;

  border: 1px solid #d6d9e6;
}

@media (min-width: $tablet-width) {
  .calendar-table__cell {
    width: 14.3%;
    height: 69px;

    font-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .calendar-table__cell {
    width: 142px;
    height: 71px;
  }
}

.calendar-table__btn {
  position: relative;
  padding: 0;
  width: 100%;
  height: 100%;

  color: $grey-text;

  border: none;
  background-color: #edeff6;

  overflow: visible;

  &:not(:disabled) {
    cursor: pointer;
  }

  &::before {
    content: "";
    position: absolute;
    display: none;
    top: -2px;
    left: -2px;
    width: 100%;
    height: 100%;
    box-sizing: content-box;

    border: 2px solid #ff5c23;
    border-radius: 4px;

    z-index: 1;
  }

  &--start-date::before {
    display: block;
  }

  &:hover {
    color: #ffffff;

    background-color: $light-blue;
  }

  &:hover:not(:disabled)::before {
    display: block;
  }

  &:disabled {
    color: rgba(68, 68, 68, 0.3);

    background-color: transparent;
  }

  &--selected {
    color: #ffffff;

    background-color: $light-blue;
  }
}

@media (min-width: $tablet-width) {
  .calendar-table__btn {
    letter-spacing: 2px;

    &::before {
      width: 95%;
      height: 94%;

      top: -2px;
      left: -2px;

      border-width: 4px;
    }
  }
}

@media (min-width: $desktop-width) {
  .calendar-table__btn {
    padding: 11px 16px 36px 16px;
    text-align: left;

    &::before {
      width: 138px;
    }

    &--start-date::after,
    &--end-date::after {
      content: "Заезд";
      position: absolute;
      left: 16px;
      bottom: 15px;
      width: 60px;
      height: 16px;
    }

    &--end-date::after {
      content: "Выезд";
    }
  }
}

.calendar-table__btn-month-name {
  display: none;
}

@media (min-width: $desktop-width) {
  .calendar-table__btn-month-name {
    display: inline;

    letter-spacing: 1.8px;
  }
}
