.companions-filter {
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .companions-filter {
    padding-bottom: 55px;
  }
}

.companions-filter__wrapper {
  @include container;
  padding: 0 25px 46px 25px;
}

@media (min-width: $tablet-width) {
  .companions-filter__wrapper {
    padding: 0 40px 62px 40px;
  }
}

.companions-filter__more-btn {
  margin-top: 26px;
  margin-bottom: 27px;
}

.companions-filter__btns-wrapper {
  display: flex;
}

.companions-filter__btn {
  position: relative;
  padding: 0;
  width: 50%;
  height: 50px;

  background-color: #ffffff;
  border: none;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    border-style: solid;
    border-width: 10px 10px 10px 0;
    border-color: transparent $light-blue transparent transparent;
  }

  &--prev-btn {
    border-radius: 20px 0 0 20px;

    border-right: 1px solid #edeff6;
  }

  &--next-btn {
    transform: rotate(180deg);

    border-radius: 20px 0 0 20px;
  }

  &:hover::before,
  &:focus::before {
    opacity: 0.6;
  }

  &:active::before {
    opacity: 0.3;
  }
}
