.companions {
  position: relative;
  padding-top: 30px;

  color: #ffffff;

  background-color: $blue;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -30px;

    width: 100%;
    height: 30px;

    background-color: $blue;
    border-radius: 0 0 30px 30px;

    z-index: 1;
  }
}

@media (min-width: $tablet-width) {
  .companions {
    padding-top: 55px;

    &::after {
      bottom: -55px;

      height: 55px;

      border-radius: 0 0 55px 55px;
    }
  }
}

.companions__wrapper {
  @include container;
  position: relative;
  padding-top: 70px;

  background-image: url("../img/rogovaya-back-mobile@1x.png"),
    url("../img/smolov-back-desktop@1x.png");
  background-repeat: no-repeat;
  background-position: top 311px left -10px,
    top 39px right 14.12%;
  background-size: 71px auto,
    143px auto;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/rogovaya-back-mobile@2x.png"),
      url("../img/smolov-back-desktop@2x.png");
  }
}

@media (min-width: $tablet-width) {
  .companions__wrapper {
    padding-top: 137px;
    padding-bottom: 33px;

    background-image: url("../img/rogovaya-back-desktop@1x.png"),
      url("../img/smolov-back-desktop@1x.png");
    background-position: top 135px right 8.28%,
      top 481px left 6.4%;
    background-size: 285px auto,
      143px auto;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/rogovaya-back-desktop@2x.png"),
        url("../img/smolov-back-desktop@2x.png");
    }
  }
}

@media (min-width: $desktop-width) {
  .companions__wrapper {
    padding: 131px 690px 79px 131px;

    background-position: top 440px left 191px,
      top 133px left 547px;
  }
}

.companions__title {
  position: relative;
  margin: 0;
  padding-left: 9.26%;

  color: $orange;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;

  z-index: 1;

  &::after {
    content: "";
    position: absolute;
    top: -34px;
    left: -44px;
    width: 132px;
    height: 132px;

    background-color: #141b3b;
    border-radius: 20px;

    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .companions__title {
    padding: 0;

    font-size: 45px;
    line-height: 45px;

    &::after {
      top: -63px;
      left: -35px;
      width: 213px;
      height: 213px;
    }
  }
}

@media (min-width: $desktop-width) {
  .companions__title {
    &::after {
      top: -63px;
      left: -71px;
    }
  }
}

.companions__text {
  position: relative;
  padding-left: 9.26%;
  margin-top: 20px;
  margin-bottom: 21px;
  width: 88.88%;

  z-index: 1;

  br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .companions__text {
    margin-top: 58px;
    margin-bottom: 40px;
    padding: 0;
    width: 68.77%;

    br {
      display: inline;
    }
  }
}

@media (min-width: $desktop-width) {
  .companions__text {
    width: 425px;

    br {
      display: none;
    }
  }
}

.companions__info {
  display: block;
  padding-left: 9.26%;
  padding-bottom: 47px;

  font-weight: 700;

  br {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .companions__info {
    padding: 0;
    width: 42.07%;
    margin-bottom: 60px;

    font-size: 21px;
    line-height: 25px;

    br {
      display: inline;
    }
  }
}

@media (min-width: $desktop-width) {
  .companions__info {
    width: 260px;
    margin-bottom: 87px;
  }
}

@media (min-width: $desktop-width) {
  .companions__list {
    position: absolute;
    top: 188px;
    right: 59px;
  }
}

.companions__link {
  margin-top: 20px;
}

@media (min-width: $tablet-width) {
  .companions__link {
    margin-top: 80px;
  }
}

@media (min-width: $desktop-width) {
  .companions__link {
    margin-top: 0;
  }
}
