.companions-filter-form {
  padding-top: 20px;

  background-color: $light-grey;
}

@media (min-width: $tablet-width) {
  .companions-filter-form {
    padding-top: 55px;
  }
}

@media (min-width: $desktop-width) {
  .companions-filter-form {
    @include container;
    position: relative;
  }
}

.companions-filter-form__wrapper {
  @include container;
  padding-top: 20px;
  padding-bottom: 18px;
}

@media (min-width: $tablet-width) {
  .companions-filter-form__wrapper {
    padding: 43px 5.21% 0 5.21%;
  }
}

@media (min-width: $desktop-width) {
  .companions-filter-form__wrapper {
    width: 285px;
    position: absolute;
    top: 130px;
    right: 60px;
    padding: 0;
  }
}


.companions-filter-form__title {
  display: block;
  padding: 24px 9.26% 7px 9.26%;
  margin: 0;

  font-size: 22.5px;
  line-height: 22.5px;
  color: $light-blue;

  background-color: $yellow;
  border-radius: 20px 20px 0 0;
}

@media (min-width: $tablet-width) {
  .companions-filter-form__title {
    padding: 37px 5.09% 37px 5.09%;

    font-size: 30px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .companions-filter-form__title {
    padding: 48px 37px 37px 48px;
  }
}
