.companions-filter {
  padding-bottom: 30px;
}

@media (min-width: $tablet-width) {
  .companions-filter {
    padding-bottom: 55px;
  }
}

.companions-filter__wrapper {
  @include container;
  padding-bottom: 46px;
}

@media (min-width: $tablet-width) {
  .companions-filter__wrapper {
    padding: 0 5.21% 62px 5.21%;
  }
}

@media (min-width: $desktop-width) {
  .companions-filter__wrapper {
    padding: 90px 60px 62px 60px;
  }
}

.companions-filter__more-btn {
  margin-top: 26px;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .companions-filter__more-btn {
    margin-top: 33px;
    margin-bottom: 39px;
  }
}

@media (min-width: $desktop-width) {
  .companions-filter__more-btn {
    width: 960px;
  }
}

@media (min-width: $desktop-width) {
  .companions-filter__pagination {
    width: 960px;
  }
}
