.copyright {
  padding-top: 14px;

  border-top: 1px solid rgba(0, 0, 0, 0.05);
}

@media (min-width: $tablet-width) {
  .copyright {
    padding: 0;

    border: none;
  }
}

.copyright__link {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  color: $grey-text;

  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .copyright__link {
    margin-top: 6px;
  }
}

.copyright__text {
  margin: 0;

  font-size: 16px;
  line-height: 22px;
}

@media (min-width: $tablet-width) {
  .copyright__text {
    margin-right: 24px;

    font-size: 20px;
    line-height: 24px;
  }
}

@media (min-width: $desktop-width) {
  .copyright__text {
    margin-right: 26px;
  }
}

.copyright__img {
  width: 27px;
  height: 34px;
}
