.country {
  @include list-reset;
  display: flex;
  justify-content: center;

  z-index: 1;

  &--catalog {
    display: block;
  }
}

.country__item {
  position: relative;
  width: 35px;
  height: 24px;
  margin-right: 19px;

  &:last-child {
    margin-right: 0;
  }

  &:hover .country__text,
  &:focus .country__text {
    display: block;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 35px;
    height: 24px;
  }

  &--belgium::before {
    background-color: #000000;
  }

  &--czech::before {
    background-color: #333333;
  }

  &--sri-lanka::before {
    background-color: #000000;
  }

  &--thailand::before {
    background-color: #000000;
  }

  &--seychelles::before {
    background-color: #000000;
  }

  &--dominican::before {
    background-color: #000000;
  }

  &--usa::before {
    background-color: #000000;
  }

  &--australia::before {
    background-color: #000000;
  }

  &--germany::before {
    background-color: #000000;
  }

  &--britain::before {
    background-color: #000000;
  }

  &--catalog {
    width: auto;
    margin: 0;
  }

  &--catalog::before {
    width: 26px;
    height: 18px;
    top: 1px;
    left: 0;
  }
}

.country__title {
  padding-left: 41px;

  color: $light-blue;
  text-transform: uppercase;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}

.country__text {
  display: none;
  position: absolute;
  top: 39px;
  transform: translateX(-50%);
  left: 18px;
  padding: 20px;
  width: auto;

  color: #ffffff;

  background-color: #101d41;
  border-radius: 5px;

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);

    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #101d41;
  }
}
