.country-card {
  margin-bottom: 10px;

  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

@media (min-width: $tablet-width) {
  .country-card {
    display: flex;
    min-height: 140px;

    border-radius: 20px;

    &:last-child {
      margin-bottom: 47px;
    }
  }
}

.country-card__image {
  vertical-align: middle;
}

@media (min-width: $tablet-width) {
  .country-card__image {
    order: 2;
  }
}


.country-card__about {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  padding: 15px 20px 23px 20px;

  background-color: #ffffff;
  border-radius: 0 0 10px 10px;

  &::before {
    position: absolute;
    content: "";
    top: -10px;
    left: 0;

    width: 100%;
    height: 10px;

    background-color: #ffffff;
    border-radius: 10px 10px 0 0;

    z-index: 1;
  }
}

@media (min-width: $tablet-width) {
  .country-card__about {
    padding: 30px 30px 25px 30px;
    flex-grow: 1;
    flex-direction: column;

    &::before {
      display: none;
    }
  }
}

.country-card__flag {
  position: absolute;
  top: -22px;
  left: 25px;

  width: 35px;
  height: 24px;

  background-color: #000000;

  z-index: 1;
}

@media (min-width: $tablet-width) {
  .country-card__flag {
    top: 16px;
    left: 398px;

    width: 70px;
    height: 47px;
  }
}

.country-card__title {
  margin: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: $dark-blue;
}

@media (min-width: $tablet-width) {
  .country-card__title {
    font-size: 24px;
    line-height: 24px;
  }
}

.country-card__slogan {
  margin: 0;

  color: rgba(68, 68, 68, 0.3);
  font-weight: 500;
}

@media (min-width: $tablet-width) {
  .country-card__slogan {
    margin-top: 5px;

    font-size: 20px;
    line-height: 17.7px;
  }
}

.country-card__tourists {
  position: relative;
  padding-left: 20px;

  color: rgba(68, 68, 68, 0.3);
  font-weight: 500;

  &::before {
    position: absolute;
    content: "";
    top: 6px;
    left: 0;

    width: 11px;
    height: 11px;

    background-image: url("../img/user.svg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.1;
  }
}

@media (min-width: $tablet-width) {
  .country-card__tourists {
    padding-left: 31px;
    margin-top: 18px;

    font-size: 20px;
    line-height: 20px;

    &::before {
      top: 0;

      width: 21px;
      height: 20px;
    }
  }
}
