@media (min-width: $tablet-width) {
  .country-filter {
    &--form {
      position: relative;
      height: 476px;

      background-color: #ffffff;
      border-radius: 0 0 20px 20px;
      box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);

      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 63.6%;
        width: 1px;
        height: 100%;

        background-color: $light-blue;
        opacity: 0.1;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .country-filter {
    &--form {
      width: 730px;

      &::after {
        left: 489px;
      }
    }
  }
}

.country-filter__list {
  @include list-reset;
  position: relative;
  margin: 0 auto;
  padding-bottom: 283px;
  width: 220px;
  display: flex;
  flex-wrap: wrap;

  &--form {
    width: 100%;
    padding-bottom: 265px;

    background-color: #ffffff;
    box-shadow: 0 20px 50px 0 rgba(29, 46, 91, 0.1);
    border: 1px solid #cbced9;
    border-top: none;
    border-radius: 0 0 10px 10px;
  }
}

@media (min-width: $tablet-width) {
  .country-filter__list {
    width: 618px;
    margin: 0 auto 76px auto;
    padding: 0;
    padding-right: 228px;

    &--form {
      position: static;
      width: 46.5%;
      padding-right: 0;
      margin: 0;
      margin-top: 34px;
      margin-left: 27px;

      box-shadow: none;
      border-radius: 0;
      border: 1px solid #cbced9;
    }
  }
}

@media (min-width: $desktop-width) {
  .country-filter__list {
    width: 1250px;
    padding: 0;
    margin-bottom: 32px;
    margin-left: 35px;
    justify-content: space-between;

    &--form {
      width: 360px;
      margin-left: 27px;

      border: none;
    }
  }
}

.country-filter__list-by-letter {
  @include list-reset;
  position: absolute;
  display: none;
  left: 0;
  top: 277px;

  &--shown {
    display: block;
  }

  &--form {
    left: 9.1%;
    top: 264px;
  }
}

@media (min-width: $tablet-width) {
  .country-filter__list-by-letter {
    top: 5px;
    left: 443px;

    &--form {
      top: 37px;
      left: 68.52%;
    }
  }
}

@media (min-width: $desktop-width) {
  .country-filter__list-by-letter {
    display: block;
    position: static;
    margin-top: 27px;
    margin-bottom: 44px;

    &--form {
      display: none;
      left: 515px;
      margin: 0;
    }

    &--form.country-filter__list-by-letter--shown {
      position: absolute;
      display: block;
    }
  }
}

.country-filter__item {
  width: 44px;
  height: 42px;

  border: 1px solid #cbced9;
  border-right: none;
  border-bottom: none;

  &:nth-child(5n) {
    border-right: 1px solid #cbced9;
  }

  &:nth-last-child(-n+5) {
    border-bottom: 1px solid #cbced9;
  }

  &--form {
    width: 20%;

    &:nth-child(5n) {
      border-right: none;
    }

    &:nth-child(-n+5) {
      border-top: none;
    }

    &:nth-last-child(5n) {
      border-left: none;
    }
  }
}

@media (min-width: $tablet-width) {
  .country-filter__item {
    width: 70px;
    height: 75px;

    border: none;

    &:nth-child(5n) {
      border-right: none;
    }

    &:nth-last-child(-n+5) {
      border-bottom: none;
    }

    &--form {
      width: 20%;
      height: 70px;

      border: 1px solid #cbced9;
      border-right: none;
      border-bottom: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .country-filter__item {
    width: 250px;
    height: auto;

    &--form {
      width: 60px;
      height: 70px;
      margin-right: 15px;
      margin-bottom: 15px;

      border: 1px solid #cbced9;
      border-radius: 4px;
      overflow: hidden;

      &:nth-child(5n) {
        margin-right: 0;

        border-right: 1px solid #cbced9;
      }

      &:nth-child(-n+5) {
        border-top: 1px solid #cbced9;
      }

      &:nth-last-child(5n) {
        border-left: 1px solid #cbced9;
      }

      &:nth-last-child(-n+5) {
        border-bottom: 1px solid #cbced9;
      }

      &:hover {
        border-color: #959bb2;
      }
    }
  }
}

.country-filter__alphabeth-btn {
  width: 100%;
  height: 100%;
  padding: 0;

  font-size: 14px;
  text-align: center;
  font-weight: 500;
  color: $light-blue;

  background-color: #ffffff;
  border: none;

  cursor: pointer;

  &--active {
    background-color: $light-blue;
    color: #ffffff;
  }

  &--form.country-filter__alphabeth-btn--active {
    color: $light-blue;

    background-color: #edeff6;
  }
}

@media (min-width: $tablet-width) {
  .country-filter__alphabeth-btn {
    font-size: 60px;
    font-weight: 700;
    color: rgba(25, 33, 68, 0.2);

    background-color: transparent;

    &--active {
      color: $blue;
    }

    &:hover,
    &:focus {
      color: rgba(25, 33, 68, 0.6);
    }

    &:active {
      color: $blue;
    }

    &--form {
      font-size: 20px;
      font-weight: 500;

      color: $light-blue;
    }

    &--form.country-filter__alphabeth-btn--active {
      color: #ffffff;

      background-color: $light-blue;

      &:hover,
      &:focus {
        color: #ffffff;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .country-filter__alphabeth-btn {
    width: auto;
    height: auto;

    color: $blue;

    cursor: auto;

    &:hover,
    &:focus {
      color: $blue;
    }

    &--form {
      width: 100%;
      height: 100%;

      cursor: pointer;

      &:hover,
      &:focus {
        color: $light-blue;
      }

      &:active {
        background-color: $light-blue;
      }
    }
  }
}

.country-filter__link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $grey-text;

  &--hidden {
    display: none;
  }

  &:hover,
  &:focus {
    color: $light-blue;
  }

  &:active {
    color: rgba(29, 46, 91, 0.3);
  }
}

@media (min-width: $tablet-width) {
  .country-filter__link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .country-filter__link {
    display: block;

    line-height: 30px;
  }
}
