.country-filter {
  margin-top: 7px;
}

.country-filter__list {
  @include list-reset;
  padding: 0 25px 25px 25px;
}

.country-filter__link {
  color: rgba(25, 33, 68, 0.3);
  text-transform: uppercase;
  font-weight: 700;

  &--current {
    color: $blue;
  }
}

.country-filter__alphabeth {
  margin-bottom: 67px;
  margin-left: 25px;
}
