.country-list {
  @include list-reset;
  margin-bottom: 24px;
}

.country-list__list-by-letter {
  @include list-reset;
}

.country-list__item {
  display: none;

  &--shown {
    display: block;
  }
}

.country-list__link {
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  color: $grey-text;
}

@media (min-width: $tablet-width) {
  .country-list__link {
    font-size: 20px;
    line-height: 30px;
  }
}
