.countries-list {
  @include list-reset;
}

.countries-list__item {
  margin-bottom: 8px;

  &:last-child {
    position: relative;

    &::after {
      position: absolute;
      content: "";
      left: 0;
      bottom: 0;

      height: 50px;
      width: 100%;

      background: linear-gradient(to bottom, rgba(255, 255, 255, 0.1) 0%, rgba(237, 239, 246, 0.9) 65%, $light-grey 100%);

      z-index: 1;
    }
  }
}

@media (min-width: $tablet-width) {
  .countries-list__item {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 32px;
    }
  }
}
