.country-filter__alphabeth {
  margin-bottom: 67px;
  margin-left: 25px;
}

@media (min-width: $tablet-width) {
  .country-filter__alphabeth {
    margin: 0;
  }
}

.country-filter__list {
  margin-left: 25px;
}

@media (min-width: $tablet-width) {
  .country-filter__list {
    position: absolute;
    left: 443px;
    top: 5px;
    margin: 0;
  }
}

@media (min-width: $tablet-width) {
  .country-filter__hide-btn {
    margin-top: 70px;
  }
}
