.country {
  @include list-reset;
  display: flex;
  justify-content: center;

  z-index: 1;

  &--catalog {
    display: block;
  }
}

.country__item {
  position: relative;
  width: 35px;
  height: 24px;
  margin-right: 19px;

  &--catalog {
    width: auto;
    margin: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &:hover .country__text,
  &:focus .country__text {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .country__item {
    &--catalog {
      margin-right: 28px;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}

.country__text {
  display: none;
  position: absolute;
  top: 39px;
  transform: translateX(-50%);
  left: 18px;
  padding: 20px;
  width: auto;

  color: #ffffff;
  white-space: nowrap;

  background-color: #101d41;
  border-radius: 5px;

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);

    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #101d41;
  }
}
