.country-card {
  margin-bottom: 10px;

  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.country-card__about {
  position: relative;
  padding: 20px;
  margin-top: -15px;

  background-color: #ffffff;
  border-radius: 10px 10px 0 0;

  z-index: 2;
}

.country-card__title {
  margin: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: $dark-blue;
}

.country-card__slogan {
  margin: 0;
}
