.country-card {
  margin-bottom: 10px;

  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.country-card__image {
  vertical-align: middle;
}

.country-card__about {
  position: relative;
  padding: 0 20px 20px 20px;

  background-color: #ffffff;

  &::before {
    position: absolute;
    content: "";
    top: -10px;
    left: 0;

    width: 100%;
    height: 10px;

    background-color: #ffffff;
    border-radius: 10px 10px 0 0;

    z-index: 1;
  }
}

.country-card__title {
  margin: 0;

  font-weight: 700;
  font-size: 21px;
  line-height: 21px;
  color: $dark-blue;
}

.country-card__slogan {
  margin: 0;
}
