@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .level-controls {
    position: absolute;
    top: -35px;
    right: 5px;
    width: 78.8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.level-controls__levels {
  position: relative;
  display: flex;
  width: 100%;
  height: 35px;
  margin-bottom: 24px;

  line-height: 30px;

  border: 1px solid #cbced9;
  background-color: #ffffff;
  border-radius: 4px;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    height: 11px;

    background-color: #ffffff;
  }

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 16px;
    height: 1px;

    background-color: #cbced9;
  }
}

@media (min-width: $tablet-width) {
  .level-controls__levels {
    width: 150px;
    height: 45px;
    margin: 0;
    margin-left: 12.52%;
    flex-grow: 1;

    order: 1;
  }
}

@media (min-width: $desktop-width) {
  .level-controls__levels {
    width: 100%;
    margin: 0;
    margin-bottom: 36px;

    order: 0;
  }
}

.level-controls__min-level,
.level-controls__max-level {
  width: 50%;
  padding: 8px 10px;

  color: $light-blue;
  font-size: 15px;
  line-height: 15px;
  letter-spacing: 1.5px;
  text-align: center;

  background: none;
  border: none;
}

.level-controls__min-level {
  border-right: 1px solid #cbced9;
}

.level-controls__range-controls {
  position: relative;
  padding-bottom: 6px;
}

.level-controls__scale {
  position: relative;
  width: 100%;
  height: 2px;

  background-color: rgba(29, 46, 91, 0.2);
}

@media (min-width: $tablet-width) {
  .level-controls__scale {
    width: 277px;
    height: 3px;
  }
}

@media (min-width: $desktop-width) {
  .level-controls__scale {
    width: 191px;
  }
}

.level-controls__bar {
  margin-left: 30%;
  width: 70%;
  height: 2px;

  background: $light-blue;
}

@media (min-width: $tablet-width) {
  .level-controls__bar {
    height: 3px;
  }
}

.level-controls__toggle {
  position: absolute;
  top: 1px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  padding: 0;

  background: $light-blue;
  border-radius: 50%;
  border: none;

  cursor: pointer;

  &:hover,
  &:focus {
    width: 15px;
    height: 15px;

    outline: none;
  }

  &:active {
    box-shadow: 0 3px 7px 0 rgba(29, 46, 91, 0.35);
  }

  &--min {
    left: 30%;
  }

  &--max {
    //%=100-X
    right: 100% - 100%;
  }
}

@media (min-width: $tablet-width) {
  .level-controls__toggle {
    width: 13px;
    height: 13px;

    &:hover,
    &:focus {
      width: 19px;
      height: 19px;
    }
  }
}
