.level {
  position: relative;
  width: 60px;
  height: 60px;

  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  border-radius: 50%;

  &--small {
    width: 45px;
    height: 45px;
    background-color: transparent;
  }

  &--big {
    width: 100px;
    height: 100px;
    background-color: transparent;
  }
}

@media (min-width: $tablet-width) {
  .level {
    &--small {
      width: 60px;
      height: 60px;
    }

    &--big {
      width: 94px;
      height: 94px;
    }
  }
}

.level__svg {
  width: 60px;
  height: 60px;
  transform: rotate(-90deg);

  fill: transparent;
  stroke: #ff8d30;

  &--small {
    width: 45px;
    height: 45px;
  }

  &--big {
    width: 100px;
    height: 100px;
  }

  &--99 {
    stroke-dashoffset: 188px -  99 * 1.76px;
  }

  &--80 {
    stroke-dashoffset: 188px -  80 * 1.76px;
  }

  &--50 {
    stroke-dashoffset: 188px -  50 * 1.76px;
  }

  &--25 {
    stroke-dashoffset: 188px -  25 * 1.76px;
  }
}

@media (min-width: $tablet-width) {
  .level__svg {
    &--small {
      width: 60px;
      height: 60px;
    }

    &--big {
      width: 94px;
      height: 94px;
    }
  }
}

.level__wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.level__count {
  display: block;
  font-size: 24px;
  line-height: 24px;
  font-weight: 700;

  border-bottom: 1px solid rgba(255, 255, 255, 0.3);

  &--small {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    line-height: 18px;

    border: none;
  }

  &--big {
    padding: 0 5px 0 5px;

    font-size: 38px;
    line-height: 38px;

    border-bottom: 2px solid #cbced9;
  }

  &--blue {
    color: $light-blue;
  }
}

@media (min-width: $tablet-width) {
  .level__count {
    &--small {
      position: static;
      transform: none;
      line-height: 24px;

      border-bottom: 1px solid rgba(29, 46, 91, 0.1);
    }
  }
}

@media (min-width: $desktop-width) {
  .level__count {
    &--big {
      color: #ffffff;

      border-color: rgba(255, 255, 255, 0.3);
    }
  }
}

.level__text {
  display: block;

  font-size: 14px;
  line-height: 14px;
  font-weight: 400;

  &--big {
    margin-top: 5px;
    font-size: 18px;

    color: $grey-text;
  }
}

@media (min-width: $tablet-width) {
  .level__text {
    &--small {
      color: rgba(68, 68, 68, 0.4);
    }
  }
}

@media (min-width: $desktop-width) {
  .level__text {
    &--big {
      color: #ffffff;
    }
  }
}
