.main-nav {
  width: 320px;
  min-height: 73px;
  margin: 0 auto;
  padding: 25px 25px 40px 25px;

  background-color: #ffffff;
}

.main-nav__logo-wrapper {
  display: flex;
  justify-content: space-between;
}

.main-nav__toggle {
  display: block;
  width: 25px;
  height: 25px;
  padding: 0;

  border: none;
  background-color: #ffffff;
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;

  cursor: pointer;
}

.main-nav__contacts-list {
  margin-top: 51px;
  margin-bottom: 40px;
}

.main-nav__site-list {
  margin-top: 50px;
  margin-bottom: 58px;
}
