.main-nav {
  @include container;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  min-height: 73px;
  padding-top: 25px;
  padding-bottom: 30px;

  background-color: #161c34;

  &--no-js {
    position: relative;
  }

  &--scroll-menu {
    background-color: #ffffff;
  }
}

@media (max-width: $desktop-width - 1px) {
  .main-nav {
    &--no-js .main-nav__toggle {
      display: none;
    }

    &--menu-opened {
      padding-bottom: 40px;

      background-color: #ffffff;
    }

    &--menu-opened .main-nav__site-list,
    &--menu-opened .main-nav__user-list,
    &--menu-opened .main-nav__contacts-list {
      display: block;
    }

    &--menu-opened .main-nav__list {
      display: flex;
    }

    &--menu-opened .main-nav__toggle {
      background-image: url("../img/menu-close.svg");
    }
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width - 1px) {
  .main-nav .main-nav__user-list {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 100%;
    min-height: 132px;
    padding: 40px 5.21% 35px 5.21%;

    &--bg-light-blue {
      background-color: #182044;
    }

    &--menu-opened {
      padding-bottom: 75px;

      background-color: #ffffff;
    }

    &--scroll-menu {
      background-color: #ffffff;
    }
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 100%;
    min-height: 52px;
    padding: 19px 60px 19px 60px;
    display: flex;
    justify-content: center;

    background-color: #161c34;

    &--scroll-menu {
      background-color: #ffffff;
    }

    &--scroll-menu .main-nav__logo-wrapper::after {
      background-color: $blue;
    }

    &--scroll-menu .site-list__link {
      color: $blue;
    }
  }
}

.main-nav__logo-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: $tablet-width) {
  .main-nav__logo-wrapper {
    min-height: 50px;
    padding-right: 48.3%;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__logo-wrapper {
    position: relative;
    min-height: 52px;
    padding-right: 100px;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      width: 60px;
      height: 2px;

      background-color: #ffffff;
      border-radius: 1px;
    }
  }
}

@media (min-width: $tablet-width) {
  .main-nav__menu-wrapper {
    padding-left: 8.72%;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__menu-wrapper {
    display: flex;
    width: 1020px;
    padding-left: 45px;
  }
}

.main-nav__toggle {
  display: block;
  width: 25px;
  height: 19px;
  padding: 0;

  border: none;
  background-color: transparent;
  background-image: url("../img/menu.svg");
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .main-nav__toggle {
    width: 24px;
    height: 18px;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__toggle {
    display: none;
  }
}

.main-nav__contacts-list {
  display: none;
  width: 270px;
  margin-top: 51px;
  margin-bottom: 40px;
}

@media (min-width: $tablet-width) {
  .main-nav__contacts-list {
    width: 600px;
    margin: 0 auto 115px 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__contacts-list {
    width: 100px;
    display: flex;
    margin: 0;
    margin-left: auto;
  }
}

.main-nav__site-list {
  display: none;
  width: 250px;
  margin: 0 auto;
  margin-top: 50px;
  margin-bottom: 58px;
}

@media (min-width: $tablet-width) {
  .main-nav__site-list {
    width: 600px;
    margin: 58px auto 150px 0;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__site-list {
    display: flex;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__site-list {
    margin: 0;
  }
}

.main-nav__user-list {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav__user-list {
    position: absolute;
    top: 40px;
    right: 5.21%;
  }
}

@media (min-width: $desktop-width) {
  .main-nav__user-list {
    display: block;
    position: static;
    order: 1;
  }
}

.main-nav__list {
  display: none;
}
