.profile {
  position: relative;
  padding-bottom: 30px;

  background-color: #edeff6;

  &::before {
    content: "";
    position: absolute;
    top: -30px;
    left: 0;
    width: 100%;
    height: 30px;

    background-color: inherit;

    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .profile {
    padding-bottom: 30px;

    &::before {
      top: -55px;

      height: 55px;
    }
  }
}

@media (min-width: $desktop-width) {
  .profile {
    padding-bottom: 60px;
  }
}

.profile__wrapper {
  @include container;
  padding-top: 22px;
  padding-bottom: 33px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: $tablet-width) {
  .profile__wrapper {
    padding: 65px 75px 60px 75px;
  }
}

@media (min-width: $desktop-width) {
  .profile__wrapper {
    position: relative;
    padding: 73px 60px 65px 124px;
  }
}

@media (min-width: $desktop-width) {
  .profile__level {
    position: absolute;
    top: -147px;
    right: 390px;
  }
}

.profile__image {
  width: 100px;
  height: 100px;

  border-radius: 50%;
}

@media (min-width: $tablet-width) {
  .profile__image {
    width: 94px;
    height: 94px;

    border-radius: 5px;
  }
}

@media (min-width: $desktop-width) {
  .profile__image {
    position: absolute;
    top: -190px;
    right: 155px;
    width: 190px;
    height: 190px;
  }
}

.profile__change-photo {
  margin-top: 20px;
  margin-bottom: 18px;
}

@media (min-width: $tablet-width) {
  .profile__change-photo {
    margin-top: 52px;
    margin-bottom: 51px;
    padding-top: 15px;
    padding-bottom: 15px;

    background-color: #dfe3f0;

    &:hover,
    &:focus {
      background-color: #d1d7e9;
    }

    &:active {
      color: rgba(29, 46, 91, 0.3);
    }
  }
}

@media (min-width: $desktop-width) {
  .profile__change-photo {
    position: absolute;
    top: 0;
    right: 155px;
    width: 190px;
    margin: 0;
    padding-top: 10px;
    padding-bottom: 10px;

    border-radius: 0 0 10px 10px;
  }
}

@media (min-width: $tablet-width) {
  .profile__change-photo-text {
    font-weight: 500;
    color: $light-blue;
    letter-spacing: 2px;
  }
}

@media (min-width: $desktop-width) {
  .profile__change-photo-text {
    &--hide {
      display: none;
    }
  }
}

.profile__form {
  width: 100%;
}

@media (min-width: $desktop-width) {
  .profile__form {
    display: flex;
    justify-content: space-between;
  }
}

.profile__field {
  position: relative;
  margin-top: 10px;

  &--transport {
    border-radius: 10px;
    border: 1px solid #cbced9;
  }
}

@media (min-width: $tablet-width) {
  .profile__field {
    margin-top: 0;
    height: 94px;

    &--transport {
      position: absolute;
      width: 308px;
      top: 64px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media (min-width: $desktop-width) {
  .profile__field {
    &--tags {
      width: 730px;
    }

    &--transport {
      position: relative;
      top: 0;
      left: 0;
      transform: none;
      width: 384px;
    }
  }
}

.profile__title {
  position: absolute;
  top: -11px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  margin: 0 auto;
  padding: 0 15px;

  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  color: $light-blue;
  text-transform: uppercase;

  background-color: #edeff6;
}

@media (min-width: $tablet-width) {
  .profile__title {
    top: 85px;
    padding: 0 18px;

    font-size: 20px;
    letter-spacing: 2px;
    font-weight: 500;
  }
}

.profile__hash {
  width: 100%;
  padding: 14px 7.4% 25px 7.4%;

  font-size: 16px;
  line-height: 22px;
  color: $grey-text;

  border-radius: 10px;
  border: 1px solid #cbced9;
  background-color: transparent;

  resize: none;

  &::placeholder {
    color: rgba(68, 68, 68, 0.6);
  }

  &:hover,
  &:focus {
    border-color: #aeb4cb;
  }

  &:focus {
    border-color: $dark-blue;

    outline: none;
  }
}

@media (min-width: $tablet-width) {
  .profile__hash {
    padding: 22px 25px;

    font-size: 20px;
    line-height: 24px;
  }
}

.profile__transport {
  margin-top: 15px;
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .profile__transport {
    margin-top: 25px;
    margin-bottom: 25px;
  }
}
