.promo {
  position: relative;
  background-color: $dark-blue;

  color: #ffffff;

  z-index: 7;
}

.promo__wrapper {
  width: 320px;
  margin: 0 auto;
}

.promo__wrapper--top {
  position: relative;
  min-height: 405px;

  background-image: url(../../img/traveller-illustration-mobile@1x.png),
    url(../../img/globe-back-mobile@1x.jpg);
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, bottom;
}

.promo__contacts-wrapper {
  position: absolute;
  width: 280px;
  bottom: -20px;
  right: 25px;
}

.promo__title {
  width: 238px;
  margin: 0 auto;
  padding-top: 30px;

  text-align: center;
  font-size: 36px;
  line-height: 40px;
}

.promo__wrapper--bottom {
  position: relative;
  padding: 50px 25px 0 25px;
}

.promo__review {
  margin: 0;
  padding-left: 25px;
  width: 185px;
}

.promo__quote-author {
  display: block;

  padding-top: 25px;
  padding-bottom: 110px;
  font-weight: 700;
  font-style: normal;
}
