.promo {
  position: relative;
  background-color: $dark-blue;

  color: #ffffff;

  z-index: 2;

  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom 250px center;
  background-size: 100% auto;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/globe-back-mobile@2x.jpg");
  }

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 290px;
    right: 0;
    bottom: 0;

    background-color: $dark-blue;

    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    background-color: #182044;
    background-image: url("../img/globe-back-tablet@1x.jpg");
    background-position: bottom center;
    background-size: auto 617px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/globe-back-tablet@2x.jpg");
    }

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    background-color: #161c34;
    background-image: url("../img/globe-back-desktop@1x.jpg");
    background-size: auto 750px;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/globe-back-desktop@2x.jpg");
    }

    border-radius: 0 0 55px 55px;
  }
}

.promo__wrapper {
  @include container;
  position: relative;

  background-image: url("../img/traveller-illustration-back-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: top 150px right 38.28%;
  background-size: 192px auto;

  @media (min-resolution: $retina-dppx) {
    background-image: url("../img/traveller-illustration-back-mobile@2x.png");
  }
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    min-height: 862px;
    padding: 0 5.21%;

    background-image: url("../img/traveller-illustration-back-tablet@1x.png");
    background-position: bottom 140px right 28.25%;
    background-size: 372px auto;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/traveller-illustration-back-tablet@2x.png");
    }
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    min-height: 660px;
    padding-right: 60px;
    padding-left: 130px;
    display: flex;

    background-image: url("../img/traveller-illustration-back-desktop@1x.png");
    background-position: bottom 0 right 404px;
    background-size: 431px auto;

    @media (min-resolution: $retina-dppx) {
      background-image: url("../img/traveller-illustration-back-desktop@2x.png");
    }
  }
}

.promo__title {
  width: 88.15%;
  min-height: 150px;
  margin: 0 auto;
  padding-top: 18px;

  text-align: center;
  font-size: 36px;
  line-height: 40px;
  font-weight: 700;
}

@media (min-width: $tablet-width) {
  .promo__title {
    width: 58.81%;
    padding-top: 25px;

    font-size: 60px;
    line-height: 70px;
  }
}

@media (min-width: $desktop-width) {
  .promo__title {
    width: 395px;
    text-align: left;
    margin: 0;
    padding-top: 116px;
  }
}

.promo__contacts-wrapper {
  position: absolute;
  display: flex;
  width: 84.37%;
  top: 385px;
  right: 50%;
  transform: translateX(50%);
}

@media (min-width: $tablet-width) {
  .promo__contacts-wrapper {
    display: none;
  }
}

.promo__user-list {
  flex-grow: 1;
}

.promo__review {
  margin: 0;
  margin-top: 300px;
  padding-left: 25px;
  padding-bottom: 90px;
  width: 68.5%;
  min-height: 240px;
}

@media (min-width: $tablet-width) {
  .promo__review {
    position: absolute;
    width: 37.11%;
    padding: 0;
    padding-bottom: 140px;
    margin: 0;
    left: 9.76%;
    top: 324px;
  }
}

@media (min-width: $desktop-width) {
  .promo__review {
    position: static;
    width: 285px;
    margin: 0;
    margin-left: auto;
    padding-top: 125px;
    padding-bottom: 250px;
  }
}

.promo__quote-author {
  display: block;

  padding-top: 20px;
  padding-bottom: 10px;
  font-weight: 700;
  font-style: normal;
}

@media (min-width: $tablet-width) {
  .promo__quote-author {
    padding-top: 44px;
    padding-bottom: 0;

    font-size: 21px;
    line-height: 25px;
  }
}

.promo__guide {
  position: absolute;
  bottom: -240px;
  right: 7.81%;
}

@media (min-width: $tablet-width) {
  .promo__guide {
    right: 5.21%;
    bottom: -140px;
  }
}

@media (min-width: $desktop-width) {
  .promo__guide {
    right: 59px;
    bottom: 123px;
  }
}
