.promo {
  position: relative;
  background-color: $dark-blue;

  color: #ffffff;

  z-index: 2;

  background-image: url("../img/globe-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom 230px center;
  background-size: 100% auto;

  &::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 320px;
    right: 0;
    bottom: 0;

    background-color: $dark-blue;

    z-index: -1;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    background-color: #182044;
    background-image: url("../img/globe-back-tablet@1x.jpg");
    background-position: bottom center;
    background-size: auto 612px;

    &::after {
      display: none;
    }
  }
}

@media (min-width: $desktop-width) {
  .promo {
    background-color: #161c34;
    background-image: url("../img/globe-back-desktop@1x.jpg");
    background-size: auto 750px;

    border-radius: 0 0 55px 55px;
  }
}

.promo__wrapper {
  @include container;
  position: relative;

  background-image: url("../img/traveller-illustration-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: top 165px right 38.28%;
}

@media (min-width: $tablet-width) {
  .promo__wrapper {
    min-height: 864px;
    padding: 0 5.21%;

    background-image: url("../img/traveller-illustration-tablet@1x.png");
    background-position: bottom 140px right 25.25%;
  }
}

@media (min-width: $desktop-width) {
  .promo__wrapper {
    min-height: 651px;
    padding-right: 87px;
    padding-left: 130px;
    display: flex;
    justify-content: space-between;

    background-image: url("../img/traveller-illustration-desktop@1x.png");
    background-position: bottom 0 right 404px;
  }
}

.promo__title {
  width: 88.15%;
  min-height: 150px;
  margin: 0 auto;
  padding-top: 30px;

  text-align: center;
  font-size: 36px;
  line-height: 40px;
}

@media (min-width: $tablet-width) {
  .promo__title {
    width: 57.41%;
    padding-top: 40px;

    font-size: 60px;
    line-height: 70px;
  }
}

@media (min-width: $desktop-width) {
  .promo__title {
    width: 395px;
    text-align: left;
    margin: 0;
    padding-top: 118px;
  }
}

.promo__contacts-wrapper {
  position: absolute;
  display: flex;
  width: 84.37%;
  top: 400px;
  right: 50%;
  transform: translateX(50%);
}

@media (min-width: $tablet-width) {
  .promo__contacts-wrapper {
    display: none;
  }
}

@media (min-width: $desktop-width) {
  .promo__contacts-wrapper {
    width: 290px;
    display: flex;
    top: -52px;
    right: 59px;
    transform: none;
  }
}

.promo__user-list {
  flex-grow: 1;
}

.promo__review {
  margin: 0;
  margin-top: 350px;
  padding-left: 25px;
  padding-bottom: 100px;
  width: 68.5%;
  min-height: 245px;
}

@media (min-width: $tablet-width) {
  .promo__review {
    position: absolute;
    width: 37.11%;
    padding: 0;
    padding-bottom: 140px;
    margin: 0;
    left: 75px;
    top: 350px;
  }
}

@media (min-width: $desktop-width) {
  .promo__review {
    position: static;
    width: 285px;
    margin: 0;
    padding-top: 125px;
    padding-bottom: 250px;
  }
}

.promo__quote-author {
  display: block;

  padding-top: 25px;
  padding-bottom: 10px;
  font-weight: 700;
  font-style: normal;
}

@media (min-width: $tablet-width) {
  .promo__quote-author {
    padding-top: 50px;
    padding-bottom: 0;

    font-size: 21px;
    line-height: 25px;
  }
}

.promo__guide {
  position: absolute;
  bottom: -260px;
  right: 7.81%;
}

@media (min-width: $tablet-width) {
  .promo__guide {
    right: 5.21%;
    bottom: -140px;
  }
}

@media (min-width: $desktop-width) {
  .promo__guide {
    right: 59px;
    bottom: 123px;
  }
}
