.routes {
  @include list-reset;
  position: relative;
}

@media (min-width: $tablet-width) {
  .routes {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 25.71%;
      width: 1px;
      height: 100%;

      background-color: #d6d9e6;
    }
  }
}

@media (min-width: $desktop-width) {
  .routes {
    &::after {
      right: 222px;
    }
  }
}

.routes__item {
  display: flex;
  position: relative;
  padding-bottom: 22px;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    transform: translate(2px, -50%);
    right: 26%;
    width: 5px;
    height: 10px;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/small-arrow.svg");
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:last-child::before {
    display: none;
  }

  &--active .routes__remove {
    display: none;
  }

  &--active .routes__select {
    color: #ffffff;

    border: none;
    border-radius: 4px 4px 0 0;
    background-color: $light-blue;

    &::after,
    &::before {
      top: 50%;
      transform: translateY(-50%) rotate(45deg);
      right: 9.66%;
      width: 1px;
      height: 13px;

      background: none;
      border: none;
      border-radius: 0;
      background-color: #ffffff;
      opacity: 1;
    }

    &::after {
      transform: translateY(-50%) rotate(-45deg);
    }
  }

  &--active .routes__text::before {
    display: none;
  }

  &--active .routes__alphabeth-wrapper {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .routes__item {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 15px;

    &::before {
      display: none;
    }

    &:last-child::before {
      display: block;
      bottom: -70px;
      transform: none;
      right: 25.71%;
      width: 1px;
      height: 70px;

      background: linear-gradient(to bottom, #d6d9e6 0%, rgba(214, 217, 230, 0.4) 60%, transparent 100%);
    }

    &--active .routes__remove {
      display: block;
    }

    &--active .routes__select {
      &::after,
      &::before {
        width: 2px;
        height: 25px;
        right: 36.76%;

        opacity: 1;
      }

      &:hover::before,
      &:focus::before {
        opacity: 0.5;
      }
    }
  }
}

@media (min-width: $desktop-width) {
  .routes__item {
    &:last-child::before {
      right: 222px;
    }

    &--active .routes__select {
      &::after,
      &::before {
        right: 32px;
      }
    }
  }
}

.routes__select {
  position: relative;
  width: 100%;
  height: 42px;
  padding: 10px 12.73% 10px 5.45%;

  text-align: left;
  text-transform: uppercase;
  color: $light-blue;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 1.4px;
  white-space: nowrap;

  background-color: transparent;
  border-radius: 4px;
  border: solid 1px #cbced9;

  cursor: pointer;

  z-index: 2;

  &:hover {
    border-color: #959bb2;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(50%, -50%);
    right: 26%;
    width: 8px;
    height: 8px;

    border: solid 1px #cbced9;
    border-radius: 50%;
    background-color: #ffffff;

    z-index: 2;
  }

  &::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    right: 6.36%;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/dropdown-form.svg");
    opacity: 0.3;
  }

  &--selected {
    width: 74%;

    &::before {
      right: 0;

      background-color: $light-blue;
      border: none;
    }

    &::after {
      right: 8.1%;
    }
  }

  &--add {
    background-color: #edeff6;
  }

  &--add::after {
    background-image: url("../img/qty-plus-mobile.svg");
  }

  &:hover::after,
  &:focus::after {
    opacity: 0.5;
  }
}

@media (min-width: $tablet-width) {
  .routes__select {
    position: static;
    width: 69.3%;
    height: 70px;
    padding: 15px 8.32% 15px 5.1%;

    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;

    &::after {
      right: 35.92%;
      width: 17px;
      height: 9px;
    }

    &--add::after {
      width: 20px;
      height: 20px;

      background-image: url("../img/qty-plus.svg");
    }

    &::before {
      right: 25.71%;
      width: 15px;
      height: 15px;
      transform: translate(50%, -50%);
    }

    &--add::before {
      background-color: #edeff6;
    }
  }
}

@media (min-width: $desktop-width) {
  .routes__select {
    position: relative;
    width: 73%;
    padding-right: 44px;
    padding-left: 27px;

    &::after {
      right: 27px;
    }

    &::before {
      right: -41px;
      transform: translate(100%, -50%);
    }
  }
}

.routes__flag {
  position: relative;
  top: 0;
  right: 1px;
  width: 26%;
  justify-content: center;

  border-radius: 4px;
  border: solid 1px #cbced9;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .routes__flag {
    width: 22%;
    height: 47px;
    border: none;
    padding-right: 7%;
  }
}

.routes__text {
  display: block;

  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 1px;
    width: 49px;
    height: 100%;

    background: linear-gradient(to right, transparent 0%, #ffffff 40%, #ffffff 100%);
  }

  &--add::before {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .routes__text {
    &::before {
      display: none;
    }
  }
}

.routes__remove {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 21px;
  height: 21px;

  border: none;
  border-radius: 50%;
  background-color: #edeff6;

  cursor: pointer;

  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url("../img/small-cross.svg");
    background-repeat: no-repeat;

    opacity: 0.1;
  }

  &:hover::after {
    opacity: 0.3;
  }

  &:active::after {
    opacity: 0.05;
  }
}

@media (min-width: $tablet-width) {
  .routes__remove {
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    right: -4px;
    width: 17px;
    height: 17px;

    border-radius: 0;
    background-color: transparent;

    &::after {
      width: 100%;
      height: 100%;
    }
  }
}

.routes__alphabeth-wrapper {
  display: none;
  width: 100%;
  position: absolute;
  left: 0;
  top: 42px;
  z-index: 3;
}

@media (min-width: $tablet-width) {
  .routes__alphabeth-wrapper {
    width: 108.69%;
    top: 70px;
  }
}

@media (min-width: $desktop-width) {
  .routes__alphabeth-wrapper {
    width: 730px;
  }
}
