.routes {
  @include list-reset;
  position: relative;
}

@media (min-width: $tablet-width) {
  .routes {
    &::after {
      content: "";
      position: absolute;
      top: 0;
      right: 136px;
      width: 1px;
      height: 100%;

      background-color: #d6d9e6;
    }
  }
}

.routes__item {
  display: flex;
  position: relative;
  padding-bottom: 22px;
  width: 100%;

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    transform: translateY(-50%);
    right: 25%;
    width: 5px;
    height: 10px;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/small-arrow.svg");
  }

  &:last-child {
    padding-bottom: 0;
  }

  &:last-child::before {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .routes__item {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 0;
    margin-bottom: 15px;

    &::before {
      display: none;
    }

    &:last-child::before {
      display: block;
      bottom: -70px;
      transform: none;
      right: 136px;
      width: 1px;
      height: 70px;

      background: linear-gradient(to bottom, #d6d9e6 0%, rgba(214, 217, 230, 0.4) 60%, transparent 100%);
    }
  }
}

.routes__select {
  position: relative;
  width: 100%;
  height: 42px;
  padding: 10px 12px;

  text-align: left;
  text-transform: uppercase;
  color: $light-blue;
  font-size: 14px;
  line-height: 18px;
  font-weight: 500;
  letter-spacing: 1.4px;
  white-space: nowrap;

  background-color: transparent;
  border-radius: 4px;
  border: solid 1px #cbced9;

  cursor: pointer;

  z-index: 2;

  &:hover {
    border-color: #959bb2;
  }

  &--selected {
    width: 74%;
  }

  &::after {
    content: "";
    position: absolute;
    width: 14px;
    height: 14px;
    top: 50%;
    transform: translateY(-50%);
    right: 14px;

    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/dropdown-form.svg");
    opacity: 0.3;
  }

  &--add {
    background-color: #edeff6;
  }

  &--add::after {
    background-image: url("../img/qty-plus-mobile.svg");
  }

  &:hover::after,
  &:focus::after {
    opacity: 0.5;
  }

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    right: 22%;
    width: 8px;
    height: 8px;

    border: solid 1px #cbced9;
    border-radius: 50%;
    background-color: #ffffff;

    z-index: 2;
  }

  &--selected::before {
    right: 0;
    transform: translate(50%, -50%);

    background-color: $light-blue;
    border: none;
  }
}

@media (min-width: $tablet-width) {
  .routes__select {
    width: 69.3%;
    height: 70px;
    padding: 15px 44px 15px 27px;

    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;

    &::after {
      right: 27px;
      width: 17px;
      height: 9px;
    }

    &--add::after {
      width: 20px;
      height: 20px;

      background-image: url("../img/qty-plus.svg");
    }

    &::before {
      right: -34px;
      width: 15px;
      height: 15px;
      transform: translateY(-50%);
    }

    &--add::before {
      background-color: #edeff6;
    }
  }
}

.routes__flag {
  position: relative;
  top: 0;
  right: 1px;
  width: 26%;
  justify-content: center;

  border-radius: 4px;
  border: solid 1px #cbced9;
  background-color: #ffffff;
}

@media (min-width: $tablet-width) {
  .routes__flag {
    width: 117px;
    height: 47px;
    border: none;
    padding-right: 37px;
  }
}

.routes__text {
  display: block;

  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 1px;
    width: 49px;
    height: 100%;

    background: linear-gradient(to right, transparent 0%, #ffffff 40%, #ffffff 100%);
  }

  &--add::before {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .routes__text {
    &::before {
      display: none;
    }
  }
}

.routes__remove {
  position: absolute;
  top: -10px;
  right: -10px;
  width: 21px;
  height: 21px;

  border: none;
  border-radius: 50%;
  background-color: #edeff6;

  cursor: pointer;

  z-index: 2;

  &::after {
    content: "";
    position: absolute;
    width: 9px;
    height: 9px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-image: url("../img/small-cross.svg");
    background-repeat: no-repeat;

    opacity: 0.1;
  }

  &:hover::after {
    opacity: 0.3;
  }

  &:active::after {
    opacity: 0.05;
  }
}

@media (min-width: $tablet-width) {
  .routes__remove {
    top: 50%;
    transform: translateY(-50%);
    right: -4px;
    width: 17px;
    height: 17px;

    border-radius: 0;
    background-color: transparent;

    &::after {
      width: 100%;
      height: 100%;
    }
  }
}

.routes__alphabeth-wrapper {
  display: none;
}
