.social-list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: $tablet-width) {
  .social-list {
    justify-content: flex-start;
  }
}

.social-list__link {
  display: block;
  width: 45px;
  height: 45px;

  background-repeat: no-repeat;
  background-position: center;

  &--yellow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $yellow;
    border-radius: 50%;

    &:hover,
    &:focus {
      background-color: $yellow-orange;
    }

    &:active .social-list__svg {
      opacity: 0.3;
    }
  }

  &--facebook {
    background-image: url("../img/facebook.svg");
    background-size: 11px 21px;
  }

  &--vk {
    background-image: url("../img/vk.svg");
    background-size: 23px 12px;
  }

  &--instagram {
    background-image: url("../img/instagram.svg");
    background-size: 18px 18px;
  }
}

@media (min-width: $tablet-width) {
  .social-list__link {
    width: 60px;
    height: 60px;

    &--facebook {
      background-size: 14px 28px;
    }

    &--vk {
      background-size: 31px 16px;
    }

    &--instagram {
      background-size: 24px 24px;
    }
  }
}

.social-list__svg {
  fill: #1d2e5b;
}

@media (min-width: $tablet-width) {
  .social-list__svg {
    &--fb {
      width: 14px;
      height: 28px;
    }

    &--vk {
      width: 31px;
      height: 16px;
    }

    &--instagram {
      width: 24px;
      height: 24px;
    }
  }
}
