.steps__list {
  @include list-reset;

  counter-reset: steps;
}

.steps__item {
  margin: 0;
  margin-top: 10px;
  padding: 24px 20px 22px 20px;

  border: none;
  background-color: #ffffff;
  border-radius: 10px;
}

@media (min-width: $tablet-width) {
  .steps__item {
    margin-top: 40px;
    padding: 49px 43px 55px 43px;

    border-radius: 30px;

    &--dates {
      display: flex;
      flex-direction: column;
    }
  }
}

@media (min-width: $desktop-width) {
  .steps__item {
    padding: 100px 160px 105px 160px;

    border-radius: 60px;

    &--dates {
      position: relative;
    }
  }
}

.steps__title {
  position: relative;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  padding-top: 20px;

  &::before {
    counter-increment: steps;
    content: "Шаг " counter(steps) ".";
    position: absolute;
    top: 0;
    left: 0;
  }
}

@media (min-width: $tablet-width) {
  .steps__title {
    margin: 0;
    padding-top: 35px;

    font-size: 36px;
    line-height: 36px;

    order: -4;
  }
}

@media (min-width: $tablet-width) {
  .steps__title {
    width: 650px;
    padding-top: 0;
    padding-left: 110px;
  }
}

.steps__text {
  width: 215px;
  margin: 0;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 18px;

  font-size: 16px;
  line-height: 22px;
  color: $grey-text;
  font-weight: 400;
}

@media (min-width: $tablet-width) {
  .steps__text {
    margin: 0;
    margin-top: 37px;
    margin-bottom: 42px;
    width: 500px;

    font-size: 20px;
    line-height: 24px;

    order: -3;

    &--route {
      width: 410px;

      margin-bottom: 35px;
    }
  }
}

@media (min-width: $desktop-width) {
  .steps__text {
    position: relative;
    width: 580px;
    margin-bottom: 0;
    padding-bottom: 57px;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 1000px;
      height: 1px;

      background-color: #d6d9e6;
    }
  }
}

.steps__wrapper {
  margin-top: 21px;
  margin-left: 5px;
  margin-right: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &--companions {
    order: -2;
  }
}

@media (min-width: $tablet-width) {
  .steps__wrapper {
    margin: 0;
    padding-top: 24px;

    border-top: 1px solid #d6d9e6;
  }
}

@media (min-width: $desktop-width) {
  .steps__wrapper {
    padding: 0;
    justify-content: flex-start;

    border: none;

    &--companions {
      margin-top: 30px;
      margin-bottom: 14px;
    }
  }
}

.steps__info {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 1.6px;
}

@media (min-width: $tablet-width) {
  .steps__info {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
  }
}

@media (min-width: $desktop-width) {
  .steps__info {
    width: 200px;
    margin-right: 19px;
  }
}

.steps__mark {
  text-transform: uppercase;
  text-align: right;
  font-weight: 500;
  letter-spacing: 1.6px;
  color: rgba(29, 46, 91, 0.3);
}

@media (min-width: $tablet-width) {
  .steps__mark {
    font-size: 20px;
    line-height: 18px;
    letter-spacing: 2px;
  }
}

@media (min-width: $desktop-width) {
  .steps__mark {
    order: 1;
  }
}

.steps__number-controls {
  margin-top: 9px;
}

@media (min-width: $tablet-width) {
  .steps__number-controls {
    margin-top: 25px;
  }
}

@media (min-width: $desktop-width) {
  .steps__number-controls {
    margin-top: 0;
    margin-right: 36px;
  }
}

.steps__checkboxes {
  margin-top: 21px;
  margin-bottom: 21px;
  margin-left: 5px;
  margin-right: 5px;
}

@media (min-width: $tablet-width) {
  .steps__checkboxes {
    margin: 0;
    margin-top: 25px;
    margin-bottom: 26px;

    order: -1;
  }
}

@media (min-width: $desktop-width) {
  .steps__checkboxes {
    position: absolute;
    top: 328px;
    right: 163px;
    margin: 0;
  }
}

.steps__label {
  position: relative;
  display: block;
  padding-left: 39px;

  font-weight: 400;
  font-size: 15px;
  line-height: 26px;

  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;

    border-radius: 4px;
    border: solid 1px #cbced9;
  }

  &::after {
    content: "";
    position: absolute;
    display: none;
    top: 0;
    left: 0;
    width: 26px;
    height: 26px;

    border-radius: 4px;
    background-size: 9px 9px;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/tick.svg");
  }

  &:hover::before,
  &:focus::before {
    border-color: #959bb2;
  }

  &:active::before {
    background-color: #e2e5f1;
    border: none;
  }

  &:active::after {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .steps__label {
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.steps__checkbox:checked + .steps__label::after {
  display: block;
}

.steps__calendar {
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 22px;
}

@media (min-width: $tablet-width) {
  .steps__calendar {
    margin: 0;
    margin-top: 59px;
    margin-bottom: 46px;
  }
}

@media (min-width: $desktop-width) {
  .steps__calendar {
    margin-top: 32px;
    margin-bottom: 56px;
  }
}

.steps__routes-list {
  margin-top: 24px;
  margin-right: 5px;
  margin-left: 5px;
}

@media (min-width: $tablet-width) {
  .steps__routes-list {
    margin: 0;
    margin-right: 3px;
    padding-top: 41px;

    border-top: 1px solid #d4d9eb;
  }
}

@media (min-width: $desktop-width) {
  .steps__routes-list {
    margin-right: 0;
  }
}

.steps__btns-wrapper {
  margin-top: 25px;
}

@media (min-width: $tablet-width) {
  .steps__btns-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 47px;
  }
}

.steps__prev-btn {
  margin-top: 10px;
}

@media (min-width: $tablet-width) {
  .steps__prev-btn {
    margin: 0;
  }
}

.steps__entertainment-list {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 27px;
}

@media (min-width: $tablet-width) {
  .steps__entertainment-list {
    margin: 0;
  }
}

@media (min-width: $desktop-width) {
  .steps__entertainment-list {
    margin-top: 82px;
  }
}
