$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1440px;

$orange: #ff8d30;
$dark-orange: #f26926;
$yellow: #ffd74b;
$yellow-orange: #ffbd30;

$blue: #192144;
$light-blue: #1d2e5b;
$dark-blue: #161c35;
$darkest-blue: #121936;
$tooltip-blue: #101e44;

$grey-text: #444444;
$light-grey: #edeff6;
$grey: #dfe3f0;
$dark-grey: #d4d9eb;
$grey-transp: rgba(29, 46, 91, 0.3);
$grey-borders: #cbced9;
$input-text: rgba(68, 68, 68, 0.6);
